# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules


# misc
.DS_Store
.*.sw?

navigator.log
sandbox.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package.json

.daml/
.dev/
daml-ts/
.vscode
target/
