@mixin contracts {
  .contracts {
    margin: $spacing-m;

    .table-actions {
      width: 100%;
      display: flex;
      justify-content: space-between;
      button {
        margin: $spacing-m 0;
      }
    }

    table {
      background-color: $light-4;
      border-radius: 4px;
      border-collapse: collapse;
      .MuiTableCell-root {
        border-bottom: none;
      }
      thead.tr {
        background-color: $light-2;
      }
      tbody {
        tr:nth-child(odd) {
          background-color: $light-3;
        }

        tr {
          td p {
            &.white {
              background-color: white;
              width: 47px;
              border-radius: 4px;
              padding: 4px;
            }
            &.black {
              background-color: black;
              color: white;
              width: 47px;
              border-radius: 4px;
              padding: 4px;
            }
          }
        }
      }
    }

    .tableCell {
      vertical-align: 'top';
      padding-top: 6;
      padding-bottom: 6;
      font-size: '0.75rem';
    }
    .tableRow {
      height: 'auto';
    }
    .textField {
      font-size: '0.75rem';
    }
  }
}
