@mixin login {
  .logotypeContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      margin-top: $spacing-s;
    }
  }

  .login {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    .formContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $theme-color;
      .MuiInputBase-input {
        color: $light-1;
      }
      .MuiInput-underline:after,
      .MuiInput-underline:before {
        border-bottom: 1px solid white;
      }
    }
    .form {
      width: 320;
       p {
           color: white;
       }
    }
    .tab {
      font-weight: 400;
      font-size: 18;
    }
    .greeting {
      font-weight: 500;
      text-align: center;
      margin-top: $spacing-m;
    }
    .subGreeting {
      font-weight: 500;
      text-align: center;
      margin-top: $spacing-s;
    }
    .googleButton {
      margin-top: $spacing-l;
      background-color: white;
      width: 100%;
      text-transform: none;
    }
    .googleButtonCreating {
      margin-top: 0;
    }
    .googleIcon {
      width: 30;
      margin-right: $spacing-s;
    }
    .creatingButtonContainer {
      margin-top: $spacing-s;
      height: 46;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .createAccountButton {
      height: 46;
      text-transform: none;
    }
    .formDividerContainer {
      margin-top: $spacing-m;
      margin-bottom: $spacing-m;
      display: flex;
      align-items: center;
    }
    .formDividerWord {
      padding-left: $spacing-s;
      padding-right: $spacing-s;
    }
    .formDivider {
      flex-grow: 1;
      height: 1;
    }
    .damlHubLoginButton {
      margin-bottom: $spacing-s;
    }
    .errorMessage {
      text-align: center;
    }
    .formButtons {
      width: 100%;
      margin-top: $spacing-m;
      display: flex;
      align-items: center;
    }
    .forgetButton {
      text-transform: none;
      font-weight: 400;
    }
    .loginLoader {
      margin-left: $spacing-m;
    }
    .copyright {
      margin-top: $spacing-m;
      white-space: nowrap;
    }
  }
}
