@mixin layout {
  .layout {
    .root {
      display: flex;
      max-width: 100vw;
      overflow-x: hidden;
    }
    .content {
      flex-grow: 1;
      width: calc(100vw - 240px);
      min-height: 100vh;
    }
    .contentShift {
      // width: calc(100vw - ${240 + theme.spacing(6)}px);
    }
    .fakeToolbar {
      height: 200px;
    }
  }
}
